form div {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

form div input{
    flex: 1
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons img {
    margin-bottom: 0;
}
